h4{
    color: blanchedalmond;
}
.heads{
    color: chartreuse;
    
}
#heads{
    color: #33300;
    font-weight: bolder;
}
h1{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 2em;
    background-color: chocolate;
    color: cyan;
}
a:hover{
    color:darkblue;
    background-color: darkseagreen;
}
ul{
    list-style: square;
}
h2{
    border:2px solid darkslategrey;
    padding: 50px;
    margin: 48px;
}
